@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");

body {
  font-family: "Roboto Mono", monospace;
  background-image: url("dockingBay.webp");
  background-position: center;
  color: #ffe81f;
}

a {
  text-decoration: none;
  color: #ffd700;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
  font-family: "Roboto Mono", monospace;
  font-size: 1.2rem;
  color: #ffe81f;
  text-transform: uppercase;
  letter-spacing: 2px;
}

form div {
  margin: 1em;
  display: inline-block;
}

/* PRODUCT PAGE */

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  font-size: 24px;
  color: #ffe81f;
  font-family: "Star Jedi", sans-serif;
}

.products-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1rem;
  padding: 1rem;
}

.product {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #000;
  border-radius: 8px;
  box-shadow: 0 0 8px rgba(255, 255, 255, 0.1);
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.product img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  margin-bottom: 1rem;
}

.product p {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 1rem;
  text-align: center;
  color: #ffd700;
  font-family: "Star Jedi", sans-serif;
}

.product a {
  text-decoration: none;
  color: #ffe81f;
}

.product:hover {
  transform: translateY(-5px);
  box-shadow: 0 5px 10px rgba(255, 255, 255, 0.2);
}

.no-products {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  font-size: 24px;
  color: #ffe81f;
  font-family: "Star Jedi", sans-serif;
}

.product-button {
  display: inline-block;
  background-color: #ffd700;
  color: #000;
  font-size: 1.2rem;
  font-weight: 500;
  border-radius: 5px;
  padding: 0.8rem 1.5rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.product-button:hover {
  background-color: #c3b091;
}

/* SINGLE PRODUCT PAGE */

.single-product {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  padding: 2rem;
  background-color: #000;
  border-radius: 8px;
  box-shadow: 0 0 8px rgba(255, 255, 255, 0.1);
}

.product-name {
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 1rem;
  color: #ffd700;
  font-family: "Star Jedi", "Roboto Mono", sans-serif;
}

.product-description {
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 1rem;
  color: #c3b091;
  font-family: "Star Jedi", "Roboto Mono", sans-serif;
}

.product-price {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 1rem;
  color: #ffd700;
  font-family: "Star Jedi", "Roboto Mono", sans-serif;
}

.product-info {
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 0.5rem;
  color: #ffe81f;
  text-shadow: 2px 2px #000;
  font-family: "Roboto Mono", monospace;
}

.product-image {
  max-width: 100%;
  margin-top: 1rem;
  border-radius: 8px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}

.product-story:not(:last-child) {
  margin-bottom: 1rem;
  text-align: justify;
  color: #eee;
  font-family: "Roboto Mono", monospace;
}

.error {
  font-size: 1.5rem;
  text-align: center;
  color: #f00;
}

/*


AUTH FORM

*/
.auth-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #1b1b1b;
  font-family: "Roboto Mono", monospace;
}

.auth-form {
  background-color: #1d1d1d;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.1);
  width: 400px;
}

.form-field {
  margin-bottom: 20px;
}

.form-field label {
  display: block;
  margin-bottom: 5px;
  font-size: 14px;
  color: #ffd700;
}

.form-field input {
  width: 100%;
  padding: 12px;
  border-radius: 8px;
  border: none;
  background-color: #282828;
  font-size: 16px;
  color: #fff;
}

.form-field button[type="submit"] {
  background-color: #ffd700;
  color: #1b1b1b;
  padding: 14px 24px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  width: 100%;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: all 0.3s ease;
}

.form-field button[type="submit"]:hover {
  background-color: #c3b091;
}

.error-message {
  color: #ffd700;
  margin-top: 10px;
  font-size: 14px;
}

/*

USER PAGE


*/
.all-users-container {
  margin: 20px;
  font-family: "Roboto Mono", monospace;
}

.user {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border: 1px solid #c3b091; /* light brown */
  margin-bottom: 10px;
  background-color: #1f1f1f; /* black */
  color: #ffd700; /* yellow */
}

.user p {
  margin: 0;
  font-size: 16px;
}

.user p.username {
  font-weight: bold;
}

.user a {
  text-decoration: none;
  color: #ffd700; /* yellow */
}

.user:hover {
  background-color: #c3b091; /* light brown */
  color: #000;
}

.user:hover a {
  color: #000;
}

/*

CART PAGE

*/

.cart-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.cart-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
  margin-bottom: 20px;
}

.cart-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 250px;
  background-color: #080808;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transition: all 0.2s ease-in-out;
}

.cart-item:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
}

.cart-item-image {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 8px 8px 0 0;
}

.cart-item-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.cart-item-name {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 10px;
  color: #ffd700;
  font-family: "Roboto Mono", monospace;
}

.cart-item-price {
  font-size: 16px;
  margin-bottom: 10px;
  color: #ffd700;
  font-family: "Roboto Mono", monospace;
}

.cart-item-quantity {
  display: flex;
  align-items: center;
}

.cart-item-quantity label {
  font-size: 16px;
  margin-right: 10px;
  color: #ddd;
  font-family: "Roboto Mono", monospace;
}

.cart-item-quantity-input {
  width: 40px;
  height: 30px;
  font-size: 16px;
  text-align: center;
  border: none;
  border-radius: 4px;
  background-color: #fff;
  color: #666;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  transition: all 0.2s ease-in-out;
  font-family: "Roboto Mono", monospace;
}

.cart-item-quantity-input:focus {
  outline: none;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
}

.subtotal {
  display: flex;
  justify-content: flex-end;
  font-size: 24px;
  font-weight: bold;
  margin-right: 20px;
  color: #fff;
  font-family: "Roboto Mono", monospace;
}

.no-products {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin-top: 100px;
  color: #fff;
  font-family: "Roboto Mono", monospace;
}

/*

HOME PAGE

*/
.fade {
  position: relative;
  width: 100%;
  min-height: 60vh;
  top: -25px;
  background-image: linear-gradient(0deg, transparent, black 75%);
  z-index: 1;
}

.star-wars {
  display: flex;
  justify-content: center;
  position: relative;
  height: 800px;
  color: yellow;
  font-family: "Pathway Gothic One", sans-serif;
  font-size: 500%;
  font-weight: 600;
  letter-spacing: 6px;
  line-height: 150%;
  perspective: 400px;
  text-align: justify;
}

.crawl {
  position: relative;
  top: 99999px;
  transform-origin: 50% 100%;
  animation: crawl 60s linear;
}

.crawl > .title {
  font-size: 90%;
  text-align: center;
}

.crawl > .title h1 {
  margin: 0 0 100px;
  text-transform: uppercase;
}

@keyframes crawl {
  0% {
    top: -100px;
    transform: rotateX(20deg) translateZ(0);
  }
  100% {
    top: -6000px;
    transform: rotateX(25deg) translateZ(-2500px);
  }
}

/*

ADMIN PAGE

*/
/* Admin error */
.admin-error {
  background-color: red;
  color: white;
  padding: 10px;
}

/* Forms */
.form-label {
  font-size: 18px;
  font-weight: bold;
}

.form-control {
  border-radius: 0;
  border-color: yellow;
}

.form-check-label {
  font-size: 18px;
  font-weight: normal;
}

/* Buttons */
.btn {
  border-radius: 0;
  border-color: yellow;
}

.btn-primary {
  background-color: yellow;
  color: black;
}

.btn-primary:hover {
  background-color: black;
  color: yellow;
}

.btn-danger {
  background-color: red;
  color: white;
}

.btn-danger:hover {
  background-color: white;
  color: red;
}

/* Product list */
.list-group-item {
  cursor: pointer;
  border-color: yellow;
}

.list-group-item.active {
  background-color: yellow;
  color: black;
}

/* Product form */
.col-md-6 {
  margin-top: 50px;
}

h2 {
  font-size: 36px;
  font-weight: bold;
}

textarea {
  resize: vertical;
}
