body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

/*


PRODUCT PAGE


*/
.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  font-size: 24px;
  color: #666;
}

.products-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1rem;
  padding: 1rem;
}

.product {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.product img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  margin-bottom: 1rem;
}

.product p {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 1rem;
  text-align: center;
}

.product a {
  text-decoration: none;
  color: #000;
}

.product:hover {
  transform: translateY(-5px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.no-products {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  font-size: 24px;
  color: #666;
}

.product-button {
  display: inline-block;
  background-color: #ff8c00;
  color: #fff;
  font-size: 1.2rem;
  font-weight: 500;
  border-radius: 5px;
  padding: 0.8rem 1.5rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.product-button:hover {
  background-color: #ffa500;
}

/*


SINGLE PRODUCT PAGE


*/
.single-product {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  padding: 2rem;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}

.product-name {
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 1rem;
  color: #333;
}

.product-description {
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 1rem;
  color: #666;
}

.product-price {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 1rem;
  color: #333;
}

.product-info {
  font-size: 1rem;
  text-align: center;
  margin-bottom: 0.5rem;
  color: #666;
}

.product-image {
  max-width: 100%;
  margin-top: 1rem;
  border-radius: 8px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}

.product-story:not(:last-child) {
  margin-bottom: 1rem;
  text-align: justify;
  color: #666;
}

.error {
  font-size: 1.5rem;
  text-align: center;
  color: #f00;
}

/*


AUTH FORM

*/
.auth-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f2f6fa;
}

.auth-form {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  width: 400px;
}

.form-field {
  margin-bottom: 20px;
}

.form-field label {
  display: block;
  margin-bottom: 5px;
  font-size: 14px;
  color: #354052;
}

.form-field input {
  width: 100%;
  padding: 12px;
  border-radius: 8px;
  border: none;
  background-color: #f5f8fa;
  font-size: 16px;
  color: #354052;
}

.form-field button[type="submit"] {
  background-color: #007bff;
  color: white;
  padding: 14px 24px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  width: 100%;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: all 0.3s ease;
}

.form-field button[type="submit"]:hover {
  background-color: #0069d9;
}

.error-message {
  color: red;
  margin-top: 10px;
  font-size: 14px;
}

/*

USER PAGE


*/

.all-users-container {
  margin: 20px;
}

.user {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
}

.user p {
  margin: 0;
  font-size: 16px;
}

.user p.username {
  font-weight: bold;
}

.user a {
  text-decoration: none;
  color: #000;
}

/*

CART PAGE

*/

.cart-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.cart-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
  margin-bottom: 20px;
}

.cart-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 250px;
  background-color: #f1f1f1;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transition: all 0.2s ease-in-out;
}

.cart-item:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
}

.cart-item-image {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 8px 8px 0 0;
}

.cart-item-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.cart-item-name {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 10px;
  color: #333;
}

.cart-item-price {
  font-size: 16px;
  margin-bottom: 10px;
  color: #666;
}

.cart-item-quantity {
  display: flex;
  align-items: center;
}

.cart-item-quantity label {
  font-size: 16px;
  margin-right: 10px;
  color: #666;
}

.cart-item-quantity-input {
  width: 40px;
  height: 30px;
  font-size: 16px;
  text-align: center;
  border: none;
  border-radius: 4px;
  background-color: #fff;
  color: #666;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  transition: all 0.2s ease-in-out;
}

.cart-item-quantity-input:focus {
  outline: none;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
}

.subtotal {
  display: flex;
  justify-content: flex-end;
  font-size: 24px;
  font-weight: bold;
  margin-right: 20px;
  color: #333;
}

.no-products {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin-top: 100px;
  color: #333;
}

/*

HOME PAGE

*/
.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.slideshow-container {
  width: 400px;
  height: 400px;
  margin: 10px;
  overflow: hidden;
  position: relative;
}

.slideshow {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.slide {
  width: 100%;
  height: 100%;
  align-self: center;
  object-fit: contain;
}

.slide.active {
  opacity: 1;
}

.slide img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
